.hljs {
    letter-spacing: 0.1px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: inherit;
    font-family: monospace, monospace;
    display: block;
    overflow-x: auto;
    background: #f8f8f8;
    word-break: normal;
    font-size: 15px;
    background-color: #f8f8f8;
    border-radius: 4px;
    padding: 0;
    color: inherit;
    line-height: 22px;
    white-space: pre;
}

.hljs-name {
    letter-spacing: 0.1px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: monospace, monospace;
    word-break: normal;
    font-size: 15px;
    line-height: 22px;
    white-space: pre;
    box-sizing: inherit;
    color: #000080;
    font-weight: normal;
}

.codeBlock {
    margin-top: 20px;
    padding-left: 20px;
    border-top: black 10px;
}

.InputGroup {
    background-color: white;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.InputGroup:hover {
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
    background-color: #f0f0f0;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* padding: 0.5rem 1rem; */
    /* margin-right: 1rem;
    margin-bottom: 1rem; */
    cursor: move;
    /* float: left; */
}
